input {
    padding: 7px;
    width: 90%;
    text-align: start;
    font-size: 1.2rem;
    font-style: italic;
}

.point {
    background-color: rgb(255, 57, 186);
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 10px 0 10px 0;
}

.idNew {
    width: 2.2rem;
}

.display {
    display: none;
}