.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
}


.point {
    background-color: aliceblue;
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    margin: 4px;
}

.baseWord {
    width: 15%;
    font-weight: 900;
    padding: 0 5px;
    margin: 0 10px;
}

/* .transcrtn {
    width: 15%;
    padding: 0 5px;
} */

/* .transltn {
    width: 15%;
    padding: 0 5px;
} */

/* .theme {
    width: 10%;
    font-style: italic;
    margin: 0 7%;
} */

.del {
    width: 5%;
    margin: 0 10px;
}

.red {
    width: 10%;
}

/* .idNew {
    width: 2.2rem;
} */