.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
}


.point {
    background-color: aliceblue;
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    margin: 4px;
}

.baseWord {
    width: 15%;
    font-weight: 900;
    padding: 0 5px;
    margin: 0 10px;
}

.del {
    width: 5%;
    margin: 0 10px;
}

.red {
    width: 10%;
}

.pushBtn {
    background-color: salmon;
}