.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: Unbounded;
  height: 100vh;
}



.logo_point {
  width: 120px;
}

.App-logo {
  height: 10vh;
  pointer-events: none;
}


.nav-point a {
  color: white;
  text-decoration: none;
  padding: 0 7px;
}

.App-link {
  color: #61dafb;
}

main {
  display: flex;
  align-items: center;
  height: 100%;
}

aside {
  min-width: 25%;
  height: 100%;
  background-color: rgb(217, 255, 0);
  padding: 0 20px 0 0;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 7px;
}

.add {
  background-color: rgb(255, 57, 186);
  border-radius: 0 0 50% 50%;
  width: 30px;
  height: 30px;
  font-size: xx-large;
  border-style: none;
}

.point {
  display: flex;
  align-items: center;
  padding: 10px;
}

.num {
  width: 1%;
  padding: 0 5px;
}

.baseWord {
  width: 15%;
  font-weight: 900;
  padding: 0 5px;
}

.transcrtn {
  width: 15%;
  padding: 0 5px;
}

.transltn {
  width: 15%;
  padding: 0 5px;
}

.theme {
  width: 10%;
  font-style: italic;
  margin: 0 7%;
}

.del {
  width: 5%;
  margin: 0 10px;
}

.red {
  width: 10%;
}

.cardOneBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-item {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 30px;
  width: 30vw;
  height: 250px;
  text-align: center;
  padding: 30px 40px;
  margin: 2rem;

}

.card-item2 {
  background-color: rgb(255, 57, 186);
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 30px;
  width: 30vw;
  height: 250px;
  text-align: center;
  padding: 30px 40px;
  margin: 3rem;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.word,
.translation {
  font-size: 4rem;
  margin: auto;
}

.transcription,
.word2 {
  font-size: 1.3rem;
  padding: 0 10px 10px 10px;
  margin: auto;
}

.reverse {
  max-width: 200px;
  background-color: rgb(255, 57, 186);
  border: none;
  border-radius: 15px;
  padding: 10px 30px;
  font-size: x-large;
  margin: auto;
}

.reverse:hover {
  background-color: rgba(255, 57, 186, 0.3);
  border: 5px dotted white;
  color: rgb(252, 252, 252);
}

.res {
  background-color: rgba(255, 57, 186, 0.3);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 130px;
  height: 50px;
  margin: 1rem;
  padding: 0 10px;
}


.title {
  color: #2b002b;
  font-size: xx-large;
  padding: 20px 0;
  text-transform: uppercase;
}


.footer {
  background-color: #33013f;
  height: 10vh;

}

.illustration {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  width: 150px;
  height: 150px;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}

.slade {
  font-size: 3rem;
}